{{ template "partials/header.html" . }}
{{ $baseurl := .Site.BaseURL }}

<article id="article" itemProp="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<h1 itemprop="headline">{{ .Title }}</h1>
	<p class="meta">
		<svg class="icon icon-calendar"><use xlink:href="/images/icons.svg#icon-calendar"></use></svg> <time itemprop="datePublished">{{ .Date.Format  "2006-01-02" }}</time>
		{{ range .Params.tags }}
		| <a href="{{ $baseurl }}/tags/{{ . | urlize }}/">{{ . }}</a>
		{{ end }}
	</p>
	<div class="post" itemprop="articleBody">
		{{ .Content }}
	</div>
</article>

<div class="row">
	<div class="col-sm-6">
		<div class="addthis_sharing_toolbox"></div>
	</div>
	<div class="col-sm-6">
		<div class="btn-toolbar">
			{{ with .Site.Params.FeedBurner }}
			<div class="btn-group">
				<a class="btn btn-sm btn-soundcloud" href='https://feeds.feedburner.com/{{ . }}' aria-label="RSS feed"><svg class="icon icon-rss"><use xlink:href="/images/icons.svg#icon-rss"></use></svg> Subscribe via RSS</a>
			</div>
			{{end}}
			{{ with .Site.Params.twitter }}
			<div class="btn-group">
				<a class="btn btn-sm btn-twitter" href="https://twitter.com/{{ . }}"><svg class="icon icon-twitter"><use xlink:href="/images/icons.svg#icon-twitter"></use></svg> Follow @TheBramp</a>
			</div>
			{{end}}
		</div>
	</div>
</div>

<ul class="pager">
     {{with .PrevInSection}} &nbsp;<li class="previous"><a href="{{.RelPermalink}}">&larr; {{.Title}}</a></li>{{end}}
     {{with .NextInSection}} &nbsp;<li class="next"><a href="{{.RelPermalink}}"> {{.Title}} &rarr;</a></li>{{end}}
</ul>

{{ template "partials/disqus.html" . }}
{{ template "partials/footer.html" . }}
