    <br />
    <footer>
        <p class="text-muted credit">{{ with .Site.Params.Copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006" }}. All rights reserved. {{end}}</p>
    </footer>

    </div> <!-- .container -->
    </div> <!-- .wrapper-->

	<!-- Bootstrap core JavaScript-->
{{ if in (printf "%s" .Site.BaseURL) "localhost" }}
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
{{ else }}
    <script src="/js/all.min.js"></script>
{{ end }}
<!-- Disabled because a Single Page Webapp doesn't play nice with Disque or Addthis -->
<!--
    <script src="/js/instantclick.min.js" data-no-instant></script>
    <script data-no-instant>InstantClick.init('mousedown');</script>
-->
    {{ template "theme/partials/addthis.html" . }}
  </body>
</html>
