{{ template "partials/header.html" . }}

	<div class="jumbotron">
		<h2>Welcome to my site.</h2>
		<p>Below are some recent ramblings, above you can find my android apps, open source work and academic publications.</p>
		<p class="text-right">Andrew Brampton</p>
		<div class="btn-toolbar">
			{{ with .Site.Params.FeedBurner }}
			<div class="btn-group pull-right">
				<a class="btn btn-sm btn-soundcloud" href='https://feeds.feedburner.com/{{ . }}' aria-label="RSS feed"><svg class="icon icon-rss"><use xlink:href="/images/icons.svg#icon-rss"></use></svg> Subscribe via RSS</a>
			</div>
			{{end}}
			{{ with .Site.Params.twitter }}
			<div class="btn-group pull-right">
				<a class="btn btn-sm btn-twitter" href="https://twitter.com/{{ . }}"><svg class="icon icon-twitter" style="float: left"><use xlink:href="/images/icons.svg#icon-twitter"></use></svg> Follow @TheBramp</a>
			</div>
			{{end}}
		</div>
	</div>

	<h1>Recent Articles</h1>
	<div id="article" itemscope="" itemtype="http://schema.org/Blog">
		{{ $paginator := .Paginate (where .Data.Pages "Type" "post") 25 }}
		{{ range $paginator.Pages }}
		<p itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
			<a href="{{ .RelPermalink }}" itemprop="url">
				<span itemprop="name">{{ .Title }}</span>
			</a>
			<time class="pull-right post-list" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
		</p>
		{{ end }}

		<a href="/post/">View more…</a>
	</div>

{{ template "partials/footer.html" . }}
