body {
	font-family: Raleway, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.lnum, body {
         font-variant-numeric: lining-nums;
-webkit-font-feature-settings: "lnum" on;
   -moz-font-feature-settings: "lnum" on;
    -ms-font-feature-settings: "lnum" on;
        font-feature-settings: "lnum" on;
}

.onum, time {
         font-variant-numeric: oldstyle-nums;
-webkit-font-feature-settings: "onum" on;
   -moz-font-feature-settings: "onum" on;
    -ms-font-feature-settings: "onum" on;
        font-feature-settings: "onum" on;
}

blockquote {
	font-size: 1em;
}

code {
	color: #333333;
	border: 1px solid #cccccc;
	border-radius: 4px;
    background-color: #eef;
    font-size: .8em;
}

pre {
    font-family: Hack, monospace;
    background-color: #eef;
    font-size: .8em;
}

pre.chroma {
	background-color: #eef;
}

pre code {
    border: 0;
}

figure {
	text-align: center;
	padding: 10px;
}

figcaption h4 {
	font-size: 16px;
}

.container {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.jumbotron {
	padding: 10px 20px 15px 20px;
}

@media screen and (min-width: 768px){.container .jumbotron {
    padding: 10px 20px 15px 20px;
}}

#article .post {
	text-align: justify;
}

#social-wrapper {
	font-size: 1.5em;
}

table.opensource td {
	padding: 10px;
}

.navbar {
	background-color: rgb(237, 236, 255);
}

.navbar-default .navbar-nav>li>a:hover {
	background-color: #fff
}

.navbar-header {
	height: 100px;
}

.navbar-brand {
	line-height: 1.5em;
	width: 280px;
}

img.profile-image {
	height: 64px;
	width: 64px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	-moz-border-radius: 6px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-background-clip: padding-box;
	float: left;
	margin-right: 10px;
}

.btn .icon {
	float: left;
	font-size: 1.5em;
	margin-right: 8px;
}

.btn-group {
	margin-bottom: 5px;
}

/* Hack to allow the element to go outside the normal blog boundaries */
.overflow-center {
	display: flex;
	justify-content: center;
}